<%- include('partials/header') %>
      <div class="post_holder">
        <h1 class="post_title"><%= title %></h1>
        <p class ="post_body"><%= body %></p>
      </div>
<%- include('partials/footer') %>