<%- include('partials/header') %>
<% posts.forEach(post => { %>
<%    if (post.name === postNameID) { %>
      <div class="post_holder">
        <h1 class="post_title"><%= post.title %></h1>
        <p class ="post_body"><%= post.body %></p>
      </div>
<%    } %>
<%  }); %>
<%- include('partials/footer') %>